<form (ngSubmit)="onSubmit()" class="new-edit-category-form p-2">
    @if(isEditMode){
    <h2>Editar contacto</h2>
    } @else {
    <h2>Nuevo contacto</h2>
    }
    <div class="mb-2">
        <label for="category-name" class="form-label small text-muted">Nombre de la categoría</label>
        <input id="category-name" name="name" class="form-control form-control-sm" [(ngModel)]="name"
            placeholder="Ej: Bebidas" required [disabled]="isLoading" />
    </div>

    <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()" [disabled]="isLoading">Cancelar</button>
    <button type="submit" class="btn btn-sm btn-primary" [disabled]="isLoading">
                @if (isLoading) {
                    <app-spinner class="me-2"></app-spinner>
                    <span>Guardando...</span>
                } @else {
                    <span>Guardar</span>
                }
        </button>
    </div>
</form>